.content-box {
  // width: 1920px;
  height: 1080px;
  margin: 0 auto;
  background: #090d13;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 10%;

    .logo img {
      width: 150px;
      height: 41px;
    }

    .nav ul {
      width: 700px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        margin: 0 18px;

        a {
          color: white;
          font-size: 14px;
        }

        a:hover {
          color: #093f88;
          text-decoration: underline;
          text-underline-offset: 10px;
        }
      }
    }
  }

  .search {
    border-radius: 30px;
    background: #141a26;
    // input的原始边框与背景颜色要重新设置
    input {
      width: 50px;
      border-radius: 30px;
      background: #141a26;
      border: none;
    }
  }
  img {
    width: 20px;
    height: 20px;
    float: right;
  }
}

.banner {
  height: 1000px;
  background: url(../images/index-video-cover.png) no-repeat;
  background-size: 100% 100%;

  .mask {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
  }
  .icon-fixed {
    position: absolute;
    top: 396px;
    right: 0;
    width: 60px;
    height: 169px;
    padding: 20px;
    background: #086ff9;
    border-radius: 8px;

    span {
      width: 18px;
      height: 100px;
      font-size: 18px;
      font-weight: 500;
      color: #ffffff;
    }

    img {
      margin: 0 auto;
    }
  }

  h2 {
    margin: 134px 0 18px 0;
    font-size: 48px;
    font-weight: 400;
    color: #cde7ff;
  }
  p {
    width: 508px;
    height: 34px;
    font-size: 24px;
    font-weight: 500;
    color: #cde7ff;
  }

  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 61px 0 41px 0;
    img {
      width: 56px;
      height: 56px;
    }

    span {
      font-size: 14px;
      font-weight: 500;
      color: #acbad0;
    }
  }

  .examples {
    display: flex;
    justify-content: space-around;

    .example-box-l {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 144px;
      height: 144px;
      border: 1px solid #043880;
      border-radius: 50%;
      margin: 0 90px;
      .example-box-m {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 127px;
        height: 127px;
        background: #043880;
        border-radius: 50%;
        span {
          font-size: 24px;
          font-weight: 500;
          color: #ffffff;
        }
      }
    }
  }
}

// 第二页
.content-exemple {
  height: 866px;
  position: relative;
  background: #141a26;
  .header {
    width: 144px;
    height: 50px;
    font-size: 36px;
    margin: 0 auto;
    padding: 80px 0;
    font-weight: 500;
    color: #ffffff;
    line-height: 50px;
    background: linear-gradient(90deg, #75a3ff 0%, #abd7ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg {
    width: 68%;
    height: 350px;
    position: absolute;
    top: 366px;
    left: 20%;
    background: url(../images/index-carousel-bg.png) no-repeat;
    .text {
      float: left;
      p {
        width: 289px;
        height: 72px;
        margin-top: 72px;
        font-size: 24px;
        font-weight: 500;
        color: #cde7ff;
      }
      .icon {
        width: 266px;
        height: 80px;
        position: relative;
        h2 {
          position: absolute;
          // width: 192px;
          // height: 67px;s
          font-size: 48px;
          font-weight: 500;
          color: #ffffff;
          overflow: visible;
          z-index: 1;
        }
        img {
          position: absolute;
          top: 43px;
          left: 0;
          margin-top: -22px;
          margin-left: -14px;
          width: 232px;
          height: 58px;
        }
      }
    }
  }
  .pic {
    position: absolute;
    top: 203px;
    left: 36%;
  }
}
// 第三页
.enter-1 {
  height: 740px;
  background: url(../images/pc11.png);
  position: relative;
  .text {
    position: absolute;
    width: 16%;
    height: 146px;
    top: 250px;
    right: 18%;
    h2 {
      font-size: 28px;
      font-weight: 600;
      color: #ffffff;
      margin-bottom: 50px;
    }
    p {
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
    }
  }
}
// 第四页
.enter-2 {
  display: flex;
  height: 740px;
  background: url(../images/index-animation-bg2.png);
  .w {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img {
    width: 780px;
    height: 530px;
    margin-top: 58px;
    padding-left: 62px;
  }
  .text {
    h2 {
      font-size: 28px;
      font-weight: 600;
      color: #ffffff;
      margin-bottom: 50px;
    }
    p {
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
    }
  }
}
// 第五页
.enter-3 {
  height: 740px;
  background: url(../images/index-animation-bg3.png);

  .w {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img {
    width: 780px;
    height: 530px;
    margin-top: 58px;
    padding-left: 62px;
  }
  .text {
    h2 {
      font-size: 28px;
      font-weight: 600;
      color: #ffffff;
      margin-bottom: 50px;
    }
    p {
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
    }
  }
}
.enter-4 {
  height: 740px;
  background: url(../images/index-animation-bg3.png);

  .w {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img {
    width: 780px;
    height: 530px;
    margin-top: 58px;
    padding-left: 62px;
  }
  .text {
    h2 {
      font-size: 28px;
      font-weight: 600;
      color: #ffffff;
      margin-bottom: 50px;
    }
    p {
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
    }
  }
}
// 第七页
.table {
  height: 1510px;
  background: #141a26;
  // text-align: center;

  .w {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 36px;
      font-weight: 500;
      color: #333333;
      background: linear-gradient(90deg, #75a3ff 0%, #abd7ff 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 144px auto 52px;
    }
    .table-1 {
      table {
        border: 1px solid #141f29;
        th {
          font-size: 24px;
          font-weight: 600;
          color: #cde7ff;
        }

        td {
          font-size: 18px;
          font-weight: 400;
          color: #cde7ff;
          line-height: 25px;
          padding: 0 50px;
        }
        tr th:nth-child(1) {
          background: #07224c;
        }
        tr th:nth-child(2) {
          background: #009ca7;
        }
        tr th:nth-child(3) {
          background: #086ff9;
        }
        tr td:nth-child(1) {
          font-size: 20px;
          font-weight: 400;
          color: #cde7ff;
          background: #1a2433;
        }
        tr td:nth-child(2) {
          width: 500px;
          background: #153a3c;
        }
        tr td:nth-child(3) {
          width: 484px;
          background: #0c2a68;
        }
      }
    }

    .table-2 {
      table {
        td {
          width: 200px;
          height: 144px;
          padding-left: 26px;

          h4 {
            width: 72px;
            height: 25px;
            font-size: 18px;
            font-weight: 500;
            color: #ffffff;
            margin-bottom: 20px;
          }

          p{
            
            font-size: 14px;
            font-weight: 400;
            color: #FFFFFF;
            line-height: 28px;
          }
        }
        td:nth-child(2) {
          //  display: flex;
          //  flex-direction: column;
          a {
            display: block;
            font-size: 16px;
            font-weight: 500;
            color: #086ff9;
            margin: 36px;
          }
        }
      }
    }
  }
}
// 第八页
.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 960px;
  background: url(../images/download-bg.jpg) no-repeat;
  background-size: cover;

  img {
    width: 700px;
    height: 446px;
    margin: 205px 30% 0px;
  }
  p {
    width: 975px;
    height: 44px;
    font-size: 28px;
    font-weight: 500;
    color: #333333;
    margin: 50px 0 24px;
    background: linear-gradient(90deg, #1764ff 0%, #acd8ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a {
    width: 9%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #086ff9;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
  }
}
