.content-box {
  height: 1080px;
  margin: 0 auto;
  background: #090d13;
}
.content-box .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 10%;
}
.content-box .header .logo img {
  width: 150px;
  height: 41px;
}
.content-box .header .nav ul {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-box .header .nav ul li {
  margin: 0 18px;
}
.content-box .header .nav ul li a {
  color: white;
  font-size: 14px;
}
.content-box .header .nav ul li a:hover {
  color: #093f88;
  text-decoration: underline;
  text-underline-offset: 10px;
}
.content-box .search {
  border-radius: 30px;
  background: #141a26;
}
.content-box .search input {
  width: 50px;
  border-radius: 30px;
  background: #141a26;
  border: none;
}
.content-box img {
  width: 20px;
  height: 20px;
  float: right;
}
.banner {
  height: 1000px;
  background: url(../images/index-video-cover.png) no-repeat;
  background-size: 100% 100%;
}
.banner .mask {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}
.banner .icon-fixed {
  position: fixed;
  z-index: 999;
  top: 30%;
  right: 0;
  width: 60px;
  height: 169px;
  padding: 20px;
  background: #086ff9;
  border-radius: 8px;
}
.banner .icon-fixed span {
  width: 18px;
  height: 100px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
.banner .icon-fixed img {
  margin: 0 auto;
}
.banner h2 {
  margin: 134px 0 18px 0;
  font-size: 48px;
  font-weight: 400;
  color: #cde7ff;
}
.banner p {
  width: 508px;
  height: 34px;
  font-size: 24px;
  font-weight: 500;
  color: #cde7ff;
}
.banner .video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 61px 0 41px 0;
}
.banner .video img {
  width: 56px;
  height: 56px;
}
.banner .video span {
  font-size: 14px;
  font-weight: 500;
  color: #acbad0;
}
.banner .examples {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.banner .examples .example-box-l {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 144px;
  border: 1px solid #043880;
  border-radius: 50%;
  margin: 0 90px;
}
.banner .examples .example-box-l:hover {
  border: 0;
}
.banner .examples .example-box-l .example-box-m {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 127px;
  height: 127px;
  background: #043880;
  border-radius: 50%;
  transition: all 0.3s;
}
.banner .examples .example-box-l .example-box-m:hover img {
  opacity: 1;
  cursor: pointer;
  transform: rotate(360deg);
  transition: all 0.8s;
}
.banner .examples .example-box-l .example-box-m img {
  position: absolute;
  top: -16px;
  width: 160px;
  height: 160px;
  opacity: 0;
  -webkit-user-drag: none;
}
.banner .examples .example-box-l .example-box-m span {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}
.content-exemple {
  height: 866px;
  position: relative;
  background: #141a26;
}
.content-exemple .header {
  width: 144px;
  height: 50px;
  font-size: 36px;
  margin: 0 auto;
  padding: 80px 0;
  font-weight: 500;
  color: #ffffff;
  line-height: 50px;
  background: linear-gradient(90deg, #75a3ff 0%, #abd7ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-exemple .bg {
  width: 68%;
  height: 350px;
  position: absolute;
  top: 366px;
  left: 20%;
  background: url(../images/index-carousel-bg.png) no-repeat;
}
.content-exemple .bg .text {
  float: left;
}
.content-exemple .bg .text p {
  width: 289px;
  height: 72px;
  margin-top: 72px;
  font-size: 24px;
  font-weight: 500;
  color: #cde7ff;
}
.content-exemple .bg .text .icon {
  width: 266px;
  height: 80px;
  position: relative;
}
.content-exemple .bg .text .icon h2 {
  position: absolute;
  font-size: 48px;
  font-weight: 500;
  color: #ffffff;
  overflow: visible;
  z-index: 1;
}
.content-exemple .bg .text .icon img {
  position: absolute;
  top: 43px;
  left: 0;
  margin-top: -22px;
  margin-left: -14px;
  width: 232px;
  height: 58px;
}
.content-exemple .pic {
  position: absolute;
  top: 203px;
  left: 36%;
}
.enter-1 {
  height: 740px;
  background: url(../images/pc11.png);
  position: relative;
}
.enter-1 .text {
  position: absolute;
  width: 16%;
  height: 146px;
  top: 250px;
  right: 18%;
}
.enter-1 .text h2 {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 50px;
}
.enter-1 .text p {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}
.enter-2 {
  display: flex;
  height: 740px;
  background: url(../images/index-animation-bg2.png);
}
.enter-2 .w {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.enter-2 img {
  width: 780px;
  height: 530px;
  margin-top: 58px;
  padding-left: 62px;
}
.enter-2 .text h2 {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 50px;
}
.enter-2 .text p {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}
.enter-3 {
  height: 740px;
  background: url(../images/index-animation-bg3.png);
}
.enter-3 .w {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.enter-3 img {
  width: 780px;
  height: 530px;
  margin-top: 58px;
  padding-left: 62px;
}
.enter-3 .text h2 {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 50px;
}
.enter-3 .text p {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}
.enter-4 {
  height: 740px;
  background: url(../images/index-animation-bg3.png);
}
.enter-4 .w {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.enter-4 img {
  width: 780px;
  height: 530px;
  margin-top: 58px;
  padding-left: 62px;
}
.enter-4 .text h2 {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 50px;
}
.enter-4 .text p {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}
.table {
  height: 1510px;
  background: #141a26;
}
.table .w {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table .w h2 {
  font-size: 36px;
  font-weight: 500;
  color: #333333;
  background: linear-gradient(90deg, #75a3ff 0%, #abd7ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 144px auto 52px;
}
.table .w .table-1 table {
  border: 1px solid #141f29;
}
.table .w .table-1 table th {
  font-size: 24px;
  font-weight: 600;
  color: #cde7ff;
}
.table .w .table-1 table td {
  font-size: 18px;
  font-weight: 400;
  color: #cde7ff;
  line-height: 25px;
  padding: 0 50px;
}
.table .w .table-1 table tr th:nth-child(1) {
  background: #07224c;
}
.table .w .table-1 table tr th:nth-child(2) {
  background: #009ca7;
}
.table .w .table-1 table tr th:nth-child(3) {
  background: #086ff9;
}
.table .w .table-1 table tr td:nth-child(1) {
  font-size: 20px;
  font-weight: 400;
  color: #cde7ff;
  background: #1a2433;
}
.table .w .table-1 table tr td:nth-child(2) {
  width: 500px;
  background: #153a3c;
}
.table .w .table-1 table tr td:nth-child(3) {
  width: 484px;
  background: #0c2a68;
}
.table .w .table-2 table td {
  width: 200px;
  height: 144px;
  padding-left: 26px;
}
.table .w .table-2 table td h4 {
  width: 72px;
  height: 25px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 20px;
}
.table .w .table-2 table td p {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  line-height: 28px;
}
.table .w .table-2 table td:nth-child(2) a {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #086ff9;
  margin: 36px;
}
.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 960px;
  background: url(../images/download-bg.jpg) no-repeat;
  background-size: cover;
}
.end img {
  width: 700px;
  height: 446px;
  margin: 205px 30% 0px;
}
.end p {
  width: 975px;
  height: 44px;
  font-size: 28px;
  font-weight: 500;
  color: #333333;
  margin: 50px 0 24px;
  background: linear-gradient(90deg, #1764ff 0%, #acd8ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.end a {
  width: 9%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #086ff9;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
